@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f9fc;
  --foreground: #171717;
  --mulish-font: normal;
  --lato-font: normal;
  --scrollbar-track: #f1f1f1;
  --scrollbar-thumb: #ccc;
  --scrollbar-thumb-hover: #555;
}

.mulish-font {
  font-family: var(--mulish-font);
}

.lato-font {
  font-family: var(--lato-font);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9f9fc;
    /* --background: #000000; */
    --foreground: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--lato-font);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
